#bootstrapOverrideBG{
    background-color: #f2e4d5 ;
    font-family: 'Raleway', sans-serif;
    color: #5b5b5b;
    }

.panel-default .panel-heading{
    font-family: 'Major Mono Display', monospace !important ; 
    font-size: 27px;
    background: transparent !important;
    font-weight: 400;
    color:#002A3A ;
    text-shadow: #002A3A;
    
}

.panel-default{
    background: transparent !important;
    border: transparent !important;
}

.navbar-default{
    background-color: #DDEFED ;
}

.navbar-brand{
    font-family: 'Major Mono Display', monospace !important ;
}

.media-heading{
    font-family: 'Major Mono Display', monospace !important ;
    text-align: center;
 
}

h2{
    font-family: 'Major Mono Display', monospace !important ;
    font-size: 27px;  
    font-weight: 400;
    color:#002A3A ;
    text-shadow: #002A3A;
}

.form-control{
    width: 800px !important;
}